{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}

{% block body %}
<h3>Accueil</h3>
    <div class="intro"><p>Bienvenue sur le site de Tan Latour,développeur web en devenir !<br>
            Je suis ravi de vous accueillir sur mon site, où vous pourrez en apprendre davantage sur mes compétences en développement,
            mes projets passés et mes objectifs futurs. <br>Passionné par la technologie et la création,
            je suis actuellement en reconversion professionnelle pour devenir développeur web au sein de l'ENI-Nantes. <br>
            J'ai hâte de vous faire découvrir mon parcours et mes réalisations, alors n'hésitez pas à parcourir mon site et à me contacter pour en savoir plus !</p></div>

{% endblock %}


