{% extends 'base.html.twig' %}

{% block title %}
{{ parent() }} - Accueil
{% endblock %}

{% block body %}
<h3>Accueil</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis dolor dolorem eaque earum, eos error et ipsam iste laboriosam libero magnam quaerat quis reiciendis rem sapiente tempora unde voluptate.</p>
{% endblock %}


