{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block body %}
<h3>Contactez-moi !</h3>
    <p>
        <b>Mail : </b><a href="mailto:tandelatour@gmail.com">tandelatour@gmail.com</a>
        <br>
        <b>Linkedin : </b> <a href="https://www.linkedin.com/in/tan-latour-b1159b257/"> Tan Latour </a>
    </p>


{% endblock %}

