{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Contact
{% endblock %}

{% block body %}

    <p>
        mail : tandelatour@gmail.com
        linkedin : ajouter adresse
    </p>


{% endblock %}

