{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - C.V
{% endblock %}

{% block body %}

    <h3>Mon Parcours</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium earum eius enim, est hic inventore laudantium molestiae nesciunt omnis, provident quasi quod sapiente sequi sunt ut. Debitis dolor facere nemo.
    </p>

    <h3>Ma Formation</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi atque dolor dolorem, earum fugit, illum, laudantium maiores minus molestias numquam omnis repudiandae unde. Culpa earum laudantium quisquam temporibus voluptas?</p>


{% endblock %}


