@import url(https://fonts.googleapis.com/css?family=Raleway:400,,800,900);

@mixin center(){
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
}



.title{

    color: transparent;
    font-size: 120px;
    background: url("https://img.freepik.com/photos-gratuite/fond-mur-or_1249-217.jpg?w=2000&t=st=1679577572~exp=1679578172~hmac=602643b9005152808116f25c40f583c90411eaa4888edd3e97fc673e4e6103a2") repeat;
    -webkit-background-clip: text;
    position: relative;

}
