<header>
    {# todo inserer logo #}
    <h1>Tan Latour</h1>
    <h2>Developpeur</h2>

    {# todo inserer navigation ?  #}
</header>

<nav>
    <ul>
        <li><a href="{{path('main_accueil')}}">Accueil</a></li>
        <li><a href="{{path('main_cv')}}">C.v</a></li>
        <li><a href="{{path('main_contact')}}">Contact</a></li>



    </ul>
</nav>